[submodule "themes/zzo"]
	path = themes/zzo
	url = https://github.com/zzossig/hugo-theme-zzo.git
[submodule "themes/meghna"]
	path = themes/meghna
	url = https://github.com/themefisher/meghna-hugo
[submodule "themes/hugo-fresh"]
	path = themes/hugo-fresh
	url = https://github.com/StefMa/hugo-fresh.git
[submodule "themes/bookworm-light"]
	path = themes/bookworm-light
	url = https://github.com/gethugothemes/bookworm-light.git
[submodule "themes/roxo-hugo"]
	path = themes/roxo-hugo
	url = https://github.com/StaticMania/roxo-hugo.git
[submodule "themes/restaurant-hugo"]
	path = themes/restaurant-hugo
	url = https://github.com/gethugothemes/restaurant-hugo.git
